# Logs
logs/
*.log
shop-backend/logs/

# Uploads
uploads/

# Temporary files
*.sql
!shop-backend/src/main/resources/schema.sql
!shop-backend/src/main/resources/data.sql

# Java compiled files
*.class
target/
